@media only screen and (max-width: 600px) {
  .nav-wrapper .container .clear-btn {
    position: relative;
    margin-top: 120px;
    z-index: 100;
  }

  .nav-wrapper .container .brand-logo {
    width: 100%;
  }
}

@media only screen and (max-width: 444px) {
  .back-btn {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 342px) {
  .update-btn,
  delte-btn {
    margin-bottom: 10px;
  }
  .back-btn {
    margin-top: 0;
  }
}
